<p>{{ chengyu.translation }}</p>

<app-card-decorator [cardClass]="'!w-72 !h-48'" (click)="openDialog()">
  <div class="w-full h-full relative">
    <img [src]="chengyu.image"
         alt=""
         class="w-full h-full object-cover"/>
    <div class="absolute inset-0 flex items-center justify-center bg-black/40">
      <div class="flex flex-col items-center -space-y-2">
        <p class="text-sm text-gray-300 cursor-pointer mb-0.5">{{ chengyu.pinyin }}</p>
        <p class="text-2xl text-white cursor-pointer">{{ chengyu.chengyu }}</p>
      </div>
    </div>
  </div>
</app-card-decorator>

