/* src/app/components/chengyu-detail/chengyu-detail.component.css */
/* chengyu-detail.component.css */
:host {
  display: block;
  overflow-y: auto;
  max-height: 100%;
}

.dialog-content {
  padding-top: 16px;
  padding-bottom: 16px;
  height: 100%;
  overflow-y: auto;
}

::ng-deep .mat-mdc-dialog-surface {
  background-color: var(--color-slate-300);
}

.dialog-content {
  height: 100%;
  overflow-y: auto;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

.dialog-content::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}
