/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


/* styles.css */
.custom-dialog-container .mat-mdc-dialog-container {
  padding: 0;
}

.custom-dialog-container .mat-mdc-dialog-content {
  max-height: none;
  overflow: hidden;
}
